# HAProxy

global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend miniidm_web_https
    bind 192.168.74.100:443
    mode tcp
    default_backend miniidm_web_backends

backend miniidm_web_backends
    mode tcp
    balance roundrobin
    option tcp-check
    server idm1 192.168.74.11:8443 check
    server idm2 192.168.74.12:8443 check

frontend miniidm_ldaps
    bind 192.168.74.100:636
    mode tcp
    default_backend miniidm_ldaps_backends

backend miniidm_ldaps_backends
    mode tcp
    balance roundrobin
    option tcp-check
    server ldap1 192.168.74.11:636 check
    server ldap2 192.168.74.12:636 check
